.btn-Navbar {
  width: 224px;
  /* --bs-btn-font-weight: 400;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white; */

  --bs-btn-border-radius: 0.5rem;
  --bs-btn-border-color: black;
  /* --bs-btn-hover-border-color: black; */
  /* --bs-btn-active-border-color: black; */

  background-image: linear-gradient(145deg, #151718, #111213);

  box-shadow: 0.5px 0.5px 0.5px #131314, 0.5px 0.5px 0.5px #373738;
}
.btn-Navbar:active {
  background-image: linear-gradient(145deg, #111213, #151718);
  box-shadow: inset 0.5px 0.5px 0.5px #131314, inset -0.5px -0.5px 0.5px #373738;
}

.LogoNavBar {
  padding: 7px;
}
.Logo {
  border-radius: 5px;
  border-color: black;
  box-shadow: 0.5px 0.5px 0.5px #131314, 0.5px 0.5px 0.5px #373738;
}
